.blue {
    background-color: blue;
}

.box {
    height: 200px;
    width: 100%;
    background-color: transparent;
    padding-bottom: 50px;
}

.square {
    height: 200px;
    width: 200px;
    margin: 20px;
    
}

.red-square {
    background-color: red;
    display: inline-block;
}

.yellow-square {
    background-color: yellow;
    display: inline-block;
}

.green-square {
    background-color: green;
    display: inline-block;
}

.pink-square {
    background-color: pink;
    display: inline-block;
}

.vertical {
    height: auto;
    width: 200px;
    
 
}



.first-square { 
    border: 5px dashed red;
}


.second-square {
    border: 5px double yellow;
}


.third-square {
    border: 5px groove pink;    
}


button {
    background-color: yellow;
    color: #000;
    font-size: 1.3em;
    border: none;

}
