.blue {
    background-color: blue;
}

.box {
  height: 200px;
  width: 800px;
  background-color: transparent;
  position: relative;
}

.red-square {
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
   
}

.yellow-square {
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 50%;
}

.green-square {
    background-color: green;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 25%;
}

.pink-square {
     background-color: pink;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0;
    
}