.blue {
    background-color: blue;
}

.box {
  height: 200px;
  width: 800px;
  background-color: transparent;
  position: relative;
}

.red-square {
    background-color: red;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
   
}

.yellow-square {
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 50%;
}

.green-square {
    background-color: green;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 25%;
}

.pink-square {
    background-color: pink;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0;   
}

.container {
    background-color: grey
    position: relative;
    height: 600px;
    width: 200px;
}

/* Nie wiem dlaczego, ale kwadraty, które powinny być w sekcji Portfolio, są nieposłuszne i ulokowały się na stronie po swojemu :) */

.first-square {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    border: 2px solid black;
    border-width: 5px;
    
}
    
.second-square {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 2px solid darkblue;
    
    }

.third-square {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 2px solid saddlebrown;
    bottom: 0;
    
}


button {
	background-color: yellow;
	color: #000;
	font-size: 1.3em;
	border: none;
	
}
