/*
*  {
     box-sizing: border-box;
}
*/

body {background-color: black
}


 


div.box {
    background-color: white;
    width: 610px;
    height: 610px;
    padding: 5px;
    margin: auto;
}  
    

div.square {
    width: 200px;
    height: 200px;
    background-color: white;    
    position: relative;
    display: inline-block;
}  


div.square1, div.circle5 {
    background-color: red;
}

div.square2, div.circle6 {
    background-color: blue;
}

div.square3, div.circle4 {
    background-color: green;
}

div.square4, div.circle8 {
    background-color: yellow;
}

div.square5, div.circle9 {
    background-color: black;
}

div.square6, div.circle7 {
    background-color: orange;
}

div.square7, div.circle3 {
    background-color: darkviolet;
}


div.square8, div.circle2 {
    background-color: grey;
}


div.square9, div.circle1 {
    background-color: pink;
}

div.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translate(0%,-50%);
}
/*
div.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;   
}
*/

