body {
background-color: black;
margin: 0;
}

h1 {
color: white;
background-color: grey;
}

div.box {
background-color: grey;
width: 50%;
padding-left: 35px;
padding: 35px;
    
/*position: center;*/
margin: auto;

    
}

div.square {
background-color: darkorange;
/*display: block; NIEPOTRZEBNE - BLOKOWE Z AUTOMATU*/
width: 300px;
height: 300px;
margin-top: 20px;
}