
* {
    background-color: antiquewhite;
}

h1 {
    color: red;
}

p {
     font-size: 1.5em;
    
}
p.brown {
    color: brown;
    padding: 50px 50px;
   
}

p.darkblue {
    color: darkblue;
    margin-left: 40px;

   

