
h1 {
    color: red;
}

p.brown {
    color: brown;
    padding: 50 px 50 px;
    font-size: 3 em;
}

p.darkblue {
    color: darkblue;
    margin-left: 40 px;

    /*   Dlaczego dla tekstu paragrafów nie działa tutaj deklaracja właściwości wielkości czcionki, ani wielkości marginesu ani padding? */

}

* {
    background-color: antiquewhite;
}
/* dlaczego dodanie tego background-color na początku powodowało czarny (domyślny?) kolor tekstu obok pożądanej zmiany  koloru tła? */
